h1 {
    color: blueviolet;
}

#questionsHere {
    display: flex;
    flex-flow: column;
}

.category {
    display: flex;
    flex-flow: column;
    color: blue;
}

.question {
    color: rgb(40, 109, 8);
}

.answer {
    color: red;
}

.input-box {
    width: 200px;
}

#questionsHere {
    max-width: 620px;
    background-color: aquamarine;
}

#createGameBtn {
    color: forestgreen;
}