h1 {
    color: blueviolet;
}

#questionsHere {
    display: flex;
    flex-flow: column;
}

.category {
    display: flex;
    flex-flow: column;
    color: blue;
}

.question {
    color: rgb(40, 109, 8);
}

.answer {
    color: red;
}

.input-box {
    width: 200px;
}

#questionsHere {
    max-width: 620px;
    background-color: aquamarine;
}

#createGameBtn {
    color: forestgreen;
}

.hidden {
    background-color: black;
}

#gameHere {
    display: flex;
    flex-wrap: wrap;
}

.display-question {
    color: aliceblue;
    background-color: blue;
    text-align: center;
    height: 100px;
    margin: 1%;
}

.catDiv {
    text-align: center;
    background-color: black;
    width: 18%;
    margin: 1%;
    color: white;
}