h1 {
    color: blueviolet;
}

#questionsHere {
    display: flex;
    flex-flow: column;
    max-width: 620px;
    background-color: aquamarine;
}

.category {
    display: flex;
    flex-flow: column;
    color: blue;
}

.question {
    color: rgb(40, 109, 8);
}

.answer {
    color: red;
}

.input-box {
    width: 200px;
}

#createGameBtn {
    color: forestgreen;
}

.hidden {
    background-color: black;
}

#gameHere {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-question {
    color: aliceblue;
    background-color: blue;
    text-align: center;
    height: 15vh;
    margin: 1%;
    font-size: 6vw;
}

.catDiv {
    text-align: center;
    background-color: black;
    width: 18%;
    margin: 1%;
    color: white;
    font-size: 3vw;
}

.clicked {
    background-color: darkblue;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    background-color: blue;
    height: 50%;
    width: 50%;
    font-size: 5vw;
    justify-content: space-around;
    padding: 10%;
    
}

.modal button {
    color: brown;
    /* align-self: flex-end; */
    font-size: 2.5vw;
}

#editButton {
    display: none;
}

.score-div {
    padding: 1.2vw;
    margin: .2vw;
    text-align: center;
    border: darkblue 2px solid;
}

#scoresHere {
    display: flex;
    flex-wrap: wrap;
    font-size: 4vw;
}

.team-score-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#teamNumbersDrop {
    font-size: 3vw;
    /* width: 5vw; */
    color: blue;
}

